

<div class="container-fluid">
  
    <div class="row m-5"> 
        <div class="col-3"></div>
        <div class="col-6 border m-5 p-3 card" style="border-radius: 1rem;">
            <h2 class="m-3">Login</h2>
            <form (ngSubmit)="checkValidUser(); loginForm.reset()" class="mg-5" id="login-form" #loginForm>
                <!-- Email -->
                <div class="form-outline mb-4">
                    <input name="email"  id="email" [(ngModel)]="formData.email" class="form-control form-control-lg" type="email" placeholder="Email"/>
                </div>
                   <!-- Password -->
                <div class="form-outline mb-4">
                    <input name="pass"  id="pass" [(ngModel)]="formData.password" class="form-control form-control-lg" type="password" placeholder="Password"/>
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" value="Log In" />
                </div>
                <br>
                <div>
                    <button class="btn btn-outline-primary" (click)="open(content)">Register</button>
                </div>
            </form>

        </div>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header">
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            </button>
        </div>
        <div class="modal-body">
            <app-new-user></app-new-user>
        </div>
</ng-template>
